* {
    font-family: "Tahoma", "Trebuchet MS", sans-serif;
}
body{
    margin:0px;
}
.nav-links {
    background-color: rgb(226, 226, 225);
    color: black;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    list-style-type: none;
    margin: 0 0 5px;
}
.nav-links li {
    padding: 25px 20px;
}

.nav-links a {
    text-decoration: none;
}
.nav-links li:hover {
    background-color: rgb(194, 194, 194);
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 50px 0px;
    border: 10px double gold;
    padding: 1% 2% 2%;
}
.child {
    padding: 0 1em;
    border-right: 2px dotted grey;
}
.child:last-child{
    border: none;
}
.child img {
   width: auto;

}

#preview-section {
    flex: 0 1 50%;
}
#ingredients-section {
    flex: 0 1 40%;
}
#directions-section {
    flex: 0 1 100%;
}
